# Compilation of Ledger's app
bin/
debug/
build

# Unit tests
tests/unit-tests/fuzz_cbip_decode
tests/unit-tests/fuzz_cbip_helper
tests/unit-tests/test_aes_ccm
tests/unit-tests/test_cbip_decode
tests/unit-tests/test_cbip_encode
tests/unit-tests/*.d
tests/unit-tests/*.o

# Editors
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# Doxygen
doc/html
doc/latex

# Prod private keys should not be committed
attestations/data/prod/*/*priv-key.*
attestations/data/prod/*priv-key.*

tests/speculos/snapshots-tmp/
