[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = FR 
O = Ledger 
OU = Authenticator Attestation
CN = Ledger Stax FIDO 2 Attestation Batch 1

[v3_req]
1.3.6.1.4.1.45724.1.1.4=ASN1:FORMAT:HEX,OCTETSTRING:6e24d385004a16a07bfeefd963845b34
basicConstraints=critical,CA:FALSE

